h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
  background-color: rgb(241, 226, 206);
}

.cell {
  width: 8px;
  height: 8px;
  border-radius: 2px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: rgb(201, 18, 18);
}

.food {
  background-color: rgb(10, 105, 30);
}

#scoreDisplay {
  display: flex;
  justify-content: center;
}

#scoreDisplay p {
  font-size: larger;
  padding: 5px;
  background-color: rgb(85, 170, 46);
  border-bottom: 1px solid rgb(216, 35, 80);
  border-top: 1px solid rgb(216, 35, 80);
}
